@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

body {
  margin: 0;
  background-color: black;
  color: rgb(255, 246, 246);
  font-family: Poppins;
}
header {
  height: 70px;
  border-bottom: 2px solid #eee2;
  right: 0;
  top: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  position: sticky;
  background-color: rgb(23, 22, 22);
  transition: 0.4s ease-in-out;
  z-index: 900;
}
header .scrolled {
  background-color: white;
  opacity: 0.98;
}
/* .navlist li{
  color: #17a2b8;
  margin: auto;
  margin: auto;
  border-radius: 10%;
}

.navlist li:hover {
  background: #17a2b8;

  border-radius: 10px;
} */
header .nav {
  padding: 1.5em 0 1.5em 5em;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  margin-left: 20px;
  color: #ffffff;
  text-decoration: none;
}
.navlist {
  margin-top: 15px;
  display: flex;
  text-decoration: none;
  list-style: none;
}
.navlist a {
  color: white;
  margin-left: 80px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
  text-decoration: none;
}
.navlist li a {
  text-decoration: none;
}
/* nav {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* nav details {
  position: relative;
}

nav details summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav details ul {
  position: absolute;
  top: 250%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: #000;
  padding: 10px;
  margin: 0;
  list-style: none;
  display: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
}

nav details[open] ul {
  display: block;
  color: black;
}

nav details ul li {
  padding: 5px 5px;
  cursor: pointer;
  text-align: center;
  padding: 8px 16px;
} */

/* header details {
  position: relative;
}
header details ul {
  position: absolute;
  right: 50%;
  list-style: none;
  width: 350;
  background-color: #080808;
  border-radius: 5px;
}
header details ul li {
  padding: 5px 5px;
  cursor: pointer;
  text-align: center;
}
header details ul li:hover {
  background-color: #ffffff;
  color: #000;
}
header details ul .ul {
  align-items: center;
  margin: auto;
  text-align: center;
}
header details summary {
  list-style: none;
} 
 
/* ####BANNER##### */

.banner {
  background-image: url(./light.jpg);
  width: 100%;
  height: 100vh;
  margin-top: -70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background-image: url(./light-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 100;
  pointer-events: none;
}
.banner .content {
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Gabato", sans-serif;
}
.banner .content div:nth-child(1) {
  font-size: 3em;
  color: rgb(255, 252, 252);
}
.banner .content div:nth-child(2) {
  font-size: 10em;
  font-weight: bold;
  color: #ffffff;
}
.banner .content div:nth-child(3) {
  text-align: center;
}
.banner .content div button {
  border: 1px solid #eee7;
  background-color: black;
  color: #ffffff;
  padding: 10px 20px;
  letter-spacing: 5px;
  cursor: pointer;
}
.banner .content div button:hover {
  background-color: aqua;
  color: black;
  box-shadow: 0 0 5px aqua, 0 0 25px aqua, 0 0 50px aqua, 0 0 200px aqua;
  --webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
@media (max-width: 1231px) {
  .header {
    font-size: 1.5rem;
  }
  .banner .content {
    font-size: 90px;
  }
  .banner .content {
    font-size: 15px;
  }
  header .navlist {
    font-size: 90px;
  }
  #about {
    font-size: 9px;
  }
  header ul li {
    font-size: 9px;
  }
  button {
    font-size: 9px;
  }
  .containers .item {
    font-size: 7px;
  }
}
@media (max-width: 992px) {
  .banner .content {
    font-size: 10px;
  }
  header .navlist {
    font-size: 50px;
  }
  #about img {
    size: 10px;
  }
}
@media screen and (max-width: 678px) {
  .banner .content {
    font-size: 4px;
  }
  .containers .item {
    font-size: 1px;
  }
}

/* TITLE SECTION */
section {
  width: 100%;
}
.title {
  text-align: center;
  font-size: 4vmin;
}
#containers {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  width: 100%;
  background-color: transparent;
}
#containers div {
  height: 170px;
  width: 535px;
  background: rgb(63, 121, 131);
  margin: 40px;
  text-align: center;
  padding: 10px;
  border-radius: 10%;
  transition: 1s;
}
#containers div:hover {
  transform: scale(1.3);
  background: white;
  box-shadow: 2px 2px 2px #000;
  color: #000;
}

/* About  */
#about {
  box-sizing: border-box;
  border-radius: 20px;
  size: 10vh;
}
.container {
  box-sizing: border-box;
  border-radius: 20px;
  height: 50vh;
  flex-wrap: wrap;
}
.container h1 h2 h3 p {
  padding-top: 10px;
  text-align: center;
}
.container h1 {
  padding-bottom: 30px;
}
.button {
  margin-top: 10%;
  background-color: aqua;
  color: black;
  padding: 16px 32px;
  border-radius: 30px;
  font-size: 16px;
  z-index: 100;
  text-decoration: none;
}
.container img:hover {
  transform: scale(1.1);
  background: rgb(56, 54, 54);
  box-shadow: 2px 2px 2px #000000;
  color: #0e0f0e;
}

.u-bolder {
  font-weight: 700;
}
img {
  flex-wrap: wrap;
  margin-top: 6px;
  max-width: 80%;
  /* height: auto; */
  border-radius: 10%;
  align-items: center;
  align-self: 100%;
}
.container {
  background-color: transparent;
  width: 4000%;
}
/* .card-columns {
  display: grid;
  grid-template-rows: repeat(8, 100px);
  grid-template-columns: repeat(8, 1fr);
  a
} */

/* Skills */
.con {
  flex-wrap: wrap;
  width: -95%;
  overflow: hidden;
  height: 50vh;
  background: transparent;
  margin: 5px auto;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -5%;
  justify-content: center;
}
.con ul {
  /* display: grid;
  grid-template-rows: repeat(8, 100px);
  grid-template-columns: repeat(8, 1fr); */
  justify-content: center;
  padding: 30px;
  margin: 10px;
  align-items: center;
}
.con ul li {
  list-style: none;
  float: left;
  width: 20%;
  /* height: 10vh; */
  background: red;
  margin: 20px;
  border-radius: 10px;
}
#skills .con ul .skill:hover {
  transform: scale(1.3);
  background: white;
  box-shadow: 2px 2px 2px #000;
  color: #000;
}
/* .con ul li .title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: white;
  text-align: center;
  color: black;
} */
.con ul li {
  gap: 10px;
  /* border-radius: 10vh; */
  height: 10vh;
}
.con ul li div {
  align-items: center;
  /* border-radius: 5vh; */
}
.con ul li p {
  margin-top: 8%;
  text-align: center;
}
#skills .skills-title h1 {
  align-items: center;
  text-align: center;
  padding-bottom: -10%;
  /* padding-top: 5%; */
}

.employment {
  color: black;
}
.employment h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}
.employment-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr 2);
  align-items: center;
  gap: 2rem;
  margin-bottom: 10px;
}

/* BOX SIZING */
.employment-box {
  background-color: aquamarine;
  /* box-sizing: border-box; */
  margin: 15px;
  height: 50%;
  border-radius: 1rem;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.employment-box:hover {
  background: white;
  color: black;
  border: 5px aqua;
  transform: scale(1.03);
}
.employment-box .employment-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 10px;
  justify-content: left;
  align-items: center;
  padding: 5rem;
}
.employment-info h4 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 2;
  text-align: center;
  margin-top: -10vh;
}
.employment-info p {
  font-size: 1rem;
  font-weight: 600;
  max-height: 50px;
  line-height: 1.7;
  margin: auto;
  padding: 4%;
}

.sample-info p {
  font-size: 1.6rem;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.7;
  margin: auto;
}

.sample-projects {
  background: transparent;
}
.sample-projects a {
  text-decoration: none;
  color: #fafafa;
}
.sample-box {
  background-size: cover;
  display: flex;
  align-items: center;
  margin-left: 10%;
  flex-direction: column;
}
.heading {
  margin-bottom: 5rem;
  align-items: center;
  text-align: center;
}
.sample-box .heading {
  margin-bottom: 5rem;
  align-items: center;
  text-align: center;
}
.sample-box img {
  width: 15rem;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.sample-item {
  min-height: 5px;
  max-width: 450px;
  background: #0e0c0c;
  border: 3px solid rgb(88, 79, 79);
  border-radius: 3rem;
  margin: 0 2rem;
  padding: 30px 60px;
  cursor: pointer;
  display: grid;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  color: white;
  transition: 0.4s ease-in-out;
}
.sample-item:hover {
  border: 3px solid palegreen;
  transform: translateY(-10px) scale(1);
  box-shadow: rgb(63, 121, 131);
}
.sample-item h2 {
  font-size: 2.8rem;
}
.sample-item p {
  font-size: 10%;
}
#github {
  color: gray;
  font-size: 50%;
}
.sample-projects .rating a {
  font-size: 5rem;
  align-items: center;
}
.sample-item img {
  align-items: center;
  margin-left: 20%;
}

/* Technologies */
.tech-con {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 150px 150px;
  grid-gap: 20px 20px;
  margin-bottom: 20px;
  justify-content: center;
}
.Tech {
  text-align: center;
}

.thecard {
  /* position: absolute; */
  height: 80px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.thecard:hover {
  transform: rotateY(190deg);
}
.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #bb0909;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
}

.theback {
  position: absolute;
  padding: 10px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  color: #000000;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  transform: rotateY(190deg);
}
.thecard .thefront i {
  align-items: center;
  display: grid;
  margin: 10px;
  padding: 5%;
  size: 10%;
  font-size: 4rem;
}
.thecard .thefront i p {
  size: 10%;
}
#footer .container {
  margin-bottom: 10px;
  height: 50px;
}
/* .thecard .theback i{
  align-items: center;
  display: grid;
  margin: 10px;
  padding: 5%;
  size: 10%;
  font-size: 2rem;
} */
